@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-Background text-text font-sans antialiased;
  }
}

.slick-dots li button:before {
  color: #D1D5DB !important;
}
.slick-dots li.slick-active button:before {
  color: #A68B4B !important;
}

@layer utilities {
  .hide-scrollbar-arrows::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
  }
}

@layer utilities {
  .scrollbar-thumb-rounded {
    &::-webkit-scrollbar-thumb {
      border-radius: 9999px;
    }
  }
}

@layer utilities {
  .scrollbar-w-12::-webkit-scrollbar {
    width: 12px;
  }
}

@font-face {
  font-family: "MonaSans-Medium";
  src: url("./assets/fonts/MonaSans-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: "MonaSans-Regular";
  src: url("./assets/fonts/MonaSans-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "MonaSans-Bold";
  src: url("./assets/fonts/MonaSans-Bold.ttf");
  font-display: swap;
}

::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #F3F4F6;
  border-radius: 5px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #D1D5DB;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9CA3AF;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 !important;
  padding: 0;
  cursor: pointer;
}

.section-divider {
  @apply h-px w-16 bg-gradient-to-r from-transparent via-accent to-transparent;
}
